# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env*.local
.env

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Testing
coverage
.nyc_output

# Misc
README.md