services:
  db:
    image: postgres:15-alpine
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password_dev
      POSTGRES_DB: coding_game_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d coding_game_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ..
      dockerfile: ./docker/back/Dockerfile
    container_name: backend
    restart: always
    environment:
      DATABASE_URL: postgresql://user:password_dev@db:5432/coding_game_db
    ports:
      - "3000:3000"
    volumes:
      - ./backend/src:/app/src
      - ./backend/package.json:/app/package.json
      - ./backend/tsconfig.json:/app/tsconfig.json
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ../
      dockerfile: ./docker/front/Dockerfile
    container_name: frontend
    restart: always
    environment:
      NEXT_PUBLIC_API_URL: http://backend:3000
    ports:
      - "3001:3000"
    volumes:
      - ../srcs/frontend:/app
      - /app/node_modules

volumes:
  postgres_data: