services:
  db:
    image: postgres:15-alpine
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PWD}
      POSTGRES_DB: ${DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - transcendence
    
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "8443:443"
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - front
    networks:
      - transcendence
    secrets:
      - ssl_key
      - ssl_crt

  backend:
    build:
      context: ..
      dockerfile: ./docker/back/Dockerfile
    container_name: backend
    restart: always
    ports:
      - "5555:5555"
    env_file:
      - ./.env
    volumes:
      - ../srcs/backend:/app
      - ../srcs/sandbox/tester/submissions:/app/submissions
      - ../srcs/sandbox/tester/results:/app/results
    depends_on:
      db:
        condition: service_healthy
    networks:
      - transcendence
    secrets:
      - ssl_key
      - ssl_crt

  front:
    container_name: front
    build:
      context: ..
      dockerfile: docker/front/Dockerfile
    volumes:
      - ../srcs/front:/app
      - nextjs:/app/.next
    env_file:
      - ./.env
    networks:
      - transcendence
    secrets:
      - ssl_key
      - ssl_crt

  sandbox:
    container_name: sandbox
    privileged: true
    build:
      context: ..
      dockerfile: docker/sandbox/Dockerfile
    volumes:
      - ../srcs/sandbox:/app
    ports:
      - "4444:4444"
    networks:
      - transcendence

volumes:
  postgres_data:
  nextjs:

networks:
  transcendence:
    driver: bridge

secrets:
  ssl_key:
    file: ./secrets/VersusCode.key
  ssl_crt:
    file: ./secrets/VersusCode.crt
