@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {}

@layer components {}

:root {}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}