@import "tailwindcss";

:root {
    --primary: #d46e2e;
    --primary-30: rgba(212, 110, 46, .3);
    --destructive: #ff0037;
    --green: #50FF8A;
    --modal-background: rgba(0, 0, 0, .5);
    --sub-text: rgba(255, 255, 255, .7);
    --muted-text: rgba(255, 255, 255, .3);
}

@theme {
    --color-primary: var(--primary);
    --color-primary-30: var(--primary-30);
    --color-destructive: var(--destructive);
    --color-green: var(--green);
    --color-sub-text: var(--sub-text);
    --color-muted-text: var(--muted-text);
    --color-modal-bg: var(--modal-background);

    --grid-gradient-tile-size: 30px;
    --grid-gradient-grid-opacity: 0.3;

    --font-bebas: var(--font-bebas);
    --mono: var(--font-geist-mono);
}

@layer components {
    h1 {
        @apply font-bebas text-4xl;
    }

    html {
        @apply w-full scroll-smooth;
    }

    body {
        @apply flex text-white flex-col min-h-screen w-full;
        background-color: #00050f;
        background-image:
            url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='.15'/%3E%3C/svg%3E"),
            radial-gradient(42.19% 75% at 64.58% 0%, rgba(0, 140, 255, 0.2) 0%, rgba(0, 170, 255, 0) 100%),
            radial-gradient(36.46% 60.6% at 24.72% 62.22%, rgba(0, 140, 255, 0.2) 0%, rgba(0, 170, 255, 0) 100%),
            radial-gradient(46.46% 74.43% at 79.66% 100%, rgba(0, 140, 255, 0.25) 0%, rgba(0, 132, 255, 0) 100%);
        background-size: 200px 200px, 100% 100%, 100% 100%, 100% 100%;
        background-repeat: repeat, no-repeat, no-repeat, no-repeat;
        background-position: 0 0, 0 0, 0 0, 0 0;
    }

    main {
        @apply min-h-[730px] flex-1 flex w-full items-center justify-center p-4 md:min-h-[762px] md:py-8 md:px-16;
    }

    .grid-gradient {
        @apply absolute pointer-events-none top-0 right-0 h-full w-full opacity-[.2];
        background-image:
            repeating-linear-gradient(to right, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 0, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 1px, transparent 1px, transparent var(--grid-gradient-tile-size)),
            repeating-linear-gradient(to bottom, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 0, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 1px, transparent 1px, transparent var(--grid-gradient-tile-size)),
            linear-gradient(var(--color-primary), var(--color-primary));
        background-position: 28px 0px;
        -webkit-mask-image: radial-gradient(ellipse 100% 55% at 100% 0%, black 0%, transparent 100%);
        mask-image: radial-gradient(ellipse 100% 55% at 100% 0%, black 0%, transparent 100%);
    }

    .primary-link {
        @apply text-primary text-shadow-[0px_0px_2px] text-shadow-primary hover:underline;
    }

    .secondary-link {
        @apply text-sub-text text-sm hover:underline;
    }

    .tabs-trigger {
        @apply flex items-center justify-center py-4 px-6 cursor-pointer transition-colors duration-200 uppercase font-semibold
            border-b-2 h-full w-fit
            border-transparent text-muted-text hover:border-white/70 hover:text-sub-text
            data-[state=active]:border-primary data-[state=active]:text-white data-[state=active]:bg-linear-to-t data-[state=active]:from-primary-30 data-[state=active]:to-transparent;
    }
}
