@import "tailwindcss";

:root {
    --primary: #d46e2e;
    --modal-background: rgba(19, 25, 34, .67);
    --sub-text: rgba(255, 255, 255, .7);
    --muted-text: rgba(255, 255, 255, .3);
}



@theme {
    --color-primary: var(--primary);
    --color-sub-text: var(--sub-text);
    --color-muted-text: var(--muted-text);
    --color-modal-bg: var(--modal-background);

    --grid-gradient-tile-size: 30px;
    --grid-gradient-grid-opacity: 0.25;
}

@layer components {
    body {
        @apply text-white;
        background: radial-gradient(48.61% 71.71% at 61.82% 30.09%, rgba(0, 110, 173, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
            radial-gradient(50% 70.23% at 0% 100%, rgba(0, 110, 173, 0.25) 0%, rgba(0, 0, 0, 0) 100%),
            radial-gradient(33.9% 50% at 100% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(180deg, #002660 0%, #000A1A 100%);
    }

    .noise-mesh-bg {
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.1'/%3E%3C/svg%3E"),
            radial-gradient(100% 52.65% at 0% 100%, rgba(212, 110, 46, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
            radial-gradient(50.11% 50.11% at 50% 0%, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%),
            linear-gradient(180deg, #152D51 0.01%, #131922 100%);
    }

    .grid-gradient {
        @apply absolute pointer-events-none top-0 right-0 h-full w-full opacity-[.2];
        background-image:
            repeating-linear-gradient(to right, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 0, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 1px, transparent 1px, transparent var(--grid-gradient-tile-size)),
            repeating-linear-gradient(to bottom, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 0, rgba(255, 255, 255, var(--grid-gradient-grid-opacity)) 1px, transparent 1px, transparent var(--grid-gradient-tile-size)),
            linear-gradient(var(--color-primary), var(--color-primary));
        background-position: 28px 0px;
        -webkit-mask-image: radial-gradient(ellipse 100% 55% at 100% 0%, black 0%, transparent 100%);
        mask-image: radial-gradient(ellipse 100% 55% at 100% 0%, black 0%, transparent 100%);
    }

    .primary-link {
        @apply text-primary text-shadow-[0px_0px_2px] text-shadow-primary hover:underline;
    }
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}